In [6]:
x = 9
y = 10

print x,y

9 10

In [11]:
z = x+y

In [10]:
print z

19

In [14]:
x = Hello World

print x

SyntaxError: invalid syntax (<ipython-input-14-8ea172045438>, line 1)

In [15]:
x = 3

print x

3

In [16]:
x = 3.14

print x

3.14

In [17]:
x = 3.0

print x

3.0

In [18]:
status = True

print status

True

In [25]:
greeting = "Hello Class!"
greeting2 = "CIS024C"

print greeting,greeting2,"\n\tGreat to have you here!",3,False

Hello Class! CIS024C
	Great to have you here! 3 False

In [28]:
target = "Everyone"
target2 = "CIS-024C"

print "Hi ",target,"...Welcome to this class!",target2

Hi  Everyone ...Welcome to this class! CIS-024C

In [30]:
print "Hi %s ... Welcome to this class! %s" % (target,target)

Hi Everyone ... Welcome to this class! Everyone

In [32]:
int("2") + int("2")

4

In [34]:
str(2)+str(2)

'22'

In [35]:
name = raw_input()

Harry

In [36]:
print name

Harry

In [37]:
name = raw_input("Please enter a name:")

Please enter a name:Harry Potter

In [38]:
name

'Harry Potter'

In [40]:
age = int(input('Enter your age: '))
print "Age",age

Enter your age: 23
Age 23

In [41]:
2+3

5

In [42]:
2+3.14

5.140000000000001

In [49]:
x = 2
y = 11.0

In [59]:
z = y%x

In [60]:
print z

1.0

In [72]:
x = 4
y = 3

if x == y:
    print "this is a crazy world"
else:
    print "not crazy after all!"

not crazy after all!

In [76]:
# greater than test
if x >= y:
    print "x is greater than y"
else:
    print "x is not greater than y"

x is greater than y

In [74]:
# greater than or equal to test 
if x != y:
    print "x is greater than or equal to y"
else:
    print "x is not greater than equal to y"

x is greater than or equal to y

In [83]:
import datetime

currentTime = datetime.datetime.now()

print currentTime

2018-01-29 20:11:28.579880

In [82]:
?datetime.datetime.now

In [84]:
# Exercise 1
text = "Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are"

print text

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [87]:
# date time
import datetime
now = datetime.datetime.now()
print now

2018-01-29 21:14:59.307381

In [89]:
from time import *

print time()

1517289391.7